$primaryFont: 'Inter', Arial, Helvetica, sans-serif;
$fontHeaders: 'Montserrat', 'Inter', Arial, Helvetica, sans-serif;
$colorSecondary: #AFACA5;
$colorPrimaryText: #333;
$colorSecondaryText: #666;
$tablet: 768px;
$backgroundItem: #F5F5F5;
$red: #d9534f;